@import url('https://fonts.googleapis.com/css?family=Pavanam');

$smallScreen: 700px;

$tableHeight: 400px;
$tableWidth: 600px;
$tableMargin: 10px;

$buttonTextColor: #eaeaea;

$optionsBackground: #dedede;
$optionsBorder: #808080;

@mixin randomColor($color) {
  background: $color;
}

body {
  // Cartoon science background
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/87/ab/47/87ab47b952508c7bb3706cc4d09f2b96.jpg');
  background-size: cover;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  margin: 4px auto;
  font-weight: bold;
  font-family: 'Pavanam', sans-serif;
}

button:active {
  outline: none;
}

div:active {
  outline: none;
}

.navbar {
  font-family: 'Pavanam', serif;
  background: #212121;
  //opacity: 0.75;
  border-bottom: 1px solid #151515;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #dcdcdc;
  padding: 8px 10px 0;
  margin: 0px;
  height: 42px;
}

.title {
  font-size: 24px;
  margin: 3px;

  @media screen and (max-width: $smallScreen) {
    font-size: 20px;
  }
}

.nav-button-container {
  // width: 200px;
  display: flex;
  margin: 3px auto;
  text-align: center;
}

.nav-item {
  background: none;
  box-shadow: none;
  width: 75px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease;

  @media screen and (max-width: $smallScreen) {
    font-size: 10px;
    width: 40px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  &:active {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.cell {
  margin: 0px;
  background: #333;
  border: 2px solid #111;
  box-shadow: inset 0 1px 3px black;

  @media screen and (max-width: $smallScreen) {
    box-shadow: none;
  }

  &.populated {
    &.red {
      @include randomColor(#ff2211);
    }
    &.blue {
      @include randomColor(#2277ff);
    }
    &.green {
      @include randomColor(#22bb11);
    }
    &.yellow {
      @include randomColor(#dddd22);
    }
    &.white {
      @include randomColor(#ededed);
    }
  }
}

@mixin makeBtn($color, $text) {
  border: 1px solid darken($color, 20);
  border-radius: 2px;
  background: $color;
  color: $text;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 6px;
  width: 75px;
  margin: 5px;

  &:hover {
    background: darken($color, 10);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    // text-shadow: 0 1px 3px black;
  }

  &:active {
    background: white;
    border: 1px solid $color;
    color: darken($color, 20);
    font-weight: bold;
    box-shadow: inset 0 0 3px darken($color, 20);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: lighten($color, 20);
    color: #9a9a9a;
    border-color: #454545;
  }
}

.btn {
  @include makeBtn(#ee3322, $buttonTextColor);
}

.btn-active {
  @include makeBtn(#2233ee, $buttonTextColor);
}

.btn-go {
  @include makeBtn(#22bc33, $buttonTextColor);
}

.btn-clear {
  @include makeBtn(#aa0000, $buttonTextColor);
}

.table-screen-border {
  margin: $tableMargin auto;
  background: #333333;
  box-shadow: inset 0 0 3px rgba(250, 250, 250, 0.2),
    0 1px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid #222222;
  border-radius: 2px;
  width: $tableWidth + ($tableMargin * 4 * 2);
  height: $tableHeight + ($tableMargin * 4 * 2);
}

.table-bezel {
  margin: $tableMargin * 3 auto;
  background: #131313;
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.4),
    0 0 3px rgba(250, 250, 250, 0.2);
  border: 1px solid #111111;
  border-radius: 2px;
  width: $tableWidth + ($tableMargin * 2);
  height: $tableHeight + ($tableMargin * 2);
}

.generation-counter {
  width: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(50, 250, 70, 0.8);
  text-shadow: rgba(0, 0, 0, 0.4);
  font-family: monospace;
  position: absolute;
  left: 0;
  right: 0;
  margin: 3px auto;
  padding: 5px 0;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4), 0 0 2px rgba(220, 220, 220, 0.3);
}

.all-buttons {
  position: fixed;
  bottom: -365px;
  right: 0px;
  left: 0px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #333333;
  transition: all 1s ease;
}

.toggle-arrow {
  position: relative;
  width: 50px;
  z-index: 3;
  margin: -1px auto;
  padding: 5px 0;
  background: $optionsBackground;
  border: 1px solid $optionsBorder;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:active {
    background: rgba(200,200,200,0.9);
    border-color: rgba(100,100,100,0.9);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
  }
}

.option-box {
  position: relative;
  height: 400px;
  z-index: 1;
  padding: 10px;
  background: $optionsBackground;
  border: 1px solid $optionsBorder;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.option-button-container {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.checkbox {
  height: 20px;
  width: 20px;
  background: white;
  margin: 0 auto;
  padding: 1px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #878787;
  border-radius: 2px;
  cursor: pointer;

  & .check {
    margin: 2px auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

    &.checked {
      opacity: 1;
    }
  }
}

#random-btn-area {
  display: flex;
  flex-wrap: wrap;
}

#grid {
  margin: $tableMargin auto;
  width: auto;
  border-collapse: collapse;
  width: $tableWidth;
  height: $tableHeight;
}
